.user-info-modal {
  padding: 30px 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
}

.user-info-modal h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.user-info-modal .photo {
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #254aa5;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 3px 10px rgba(37, 74, 165, 0.4);
}

.user-info {
  padding: 30px;
}

.user-info-modal p {
  font-size: 1.1rem;
  margin: 8px 0;
  text-align: left;
  word-break: break-word;
  width: 100%;
}

.user-info-modal p strong {
  font-family: "PixelEmulator", sans-serif;
  font-size: 1rem;
  color: #254aa5;
  margin-right: 6px;
  min-width: 130px;
  display: inline-block;
}
