.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
    padding: 10px 0px;

}

.form-container h2 {
  width: fit-content;
  margin: 0px 0;
  border-bottom: 4px solid;
  padding: 3px;
  height: max-content;
}

.form-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-generico {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding-right: 40px;
  margin: 20px 0;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  min-height: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 50px;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #444;
}

.form-generico input[type="text"],
.form-generico input[type="email"],
.form-generico input[type="password"],
.form-generico input[type="number"],
.form-generico input[type="date"],
.form-generico input[type="tel"],
.form-generico input[type="url"] {
  padding: 8px 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.2s ease;
}

.form-generico input:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.form-actions {
  padding-top: 25px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
  background: #fff;
  justify-content: space-around;
}

.submit-btn {
  grid-column: 1 / -1;
  width: 100%;
  padding: 15px 0;
  background-color: #1f60a9;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "PixelEmulator", sans-serif;

}

.submit-btn:hover {
  background-color: #357abd;
}

@media (max-width: 480px) {
  .form-generico {
    grid-template-columns: 1fr;
  }
}

.form-generico select {
  padding: 8px 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  background-color: white;
    /* padding-right: 35px;  */

  cursor: pointer;
  transition: border-color 0.2s ease;
}

.form-generico select:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.form-group.checkbox-group {
  flex-direction: row;
  align-items: center;
  height: auto;
  margin-top: 15px;
  
}

.form-generico input[type="checkbox"] {
background-color: #444;
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #1f60a9; 
  margin: 0;
}

@media (max-width: 480px) {
  .form-group.checkbox-group {
    justify-content: flex-start;
  }
}