.registro-form {
  background: #fff;
  padding: 24px 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0 !important;
}

.registro-form h2 {
  flex-basis: 100%;
  text-align: left;
  font-size: 22px;
  margin-bottom: 8px;
  color: #222;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  flex: 1;
  min-height: fit-content;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #444;
}

.registro-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1rem;
  color: #555;
}

.registro-form select {
  padding: 10px;
  border-radius: 6px;
  border: 1.8px solid #ccc;
  background-color: #fafafa;
  font-size: 0.95rem;
  transition: border-color 0.3s ease;
}

.registro-form select:focus:not(:disabled) {
  outline: none;
  border-color: #007bff;
  background-color: #fff;
}

.registro-form select:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.form-group-botao {
  margin-top: 22px;
  flex-basis: 100%; 
  display: flex;
  justify-content: flex-end; 
}

.botao-submit {
  padding: 10px 24px;
  background-color: #254AA5;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 44px;
  font-family: 'PixelEmulator', sans-serif;
  margin-left: auto; 
}

.botao-submit:hover {
  background-color: #1674d7;
}

/* .registro-form button {
  padding: 12px 24px;
  background-color: #254aa5;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 44px;
  align-self: center;
} */

.registro-form button:hover {
  background-color: #1674d7;
}

.registro-form button:hover {
  background-color: #1674d7;
}

@media (max-width: 600px) {
  .registro-form {
    padding: 20px 20px;
    margin: 20px;
  }

  .registro-form h2 {
    font-size: 1.5rem;
  }
}
