.registro-form {
  background: #fff;
  padding: 24px 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px; /* espaço entre os campos */
}

.registro-form h2 {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  color: #222;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1rem;
  color: #555;
}

.registro-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1rem;
  color: #555;
}

.registro-form select {
  width: 100%;
  /* padding: 10px 14px; */
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1.8px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  background-color: #fafafa;
  cursor: pointer;
}

.registro-form select:focus:not(:disabled) {
  outline: none;
  border-color: #007bff;
  background-color: #fff;
}

.registro-form select:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.registro-form button {
  /* width: 100%; */
  padding: 12px;
  background-color: #254AA5;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.registro-form button:hover {
  background-color: #1674d7;
}

@media (max-width: 600px) {
  .registro-form {
    padding: 20px 20px;
    margin: 20px;
  }

  .registro-form h2 {
    font-size: 1.5rem;
  }
}
