.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  border-radius: 8px;
  position: relative;
  min-width: 900px;
  min-height: 600px;
  padding: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.341);
}

.modal-close {
 position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:hover {
  opacity: 0.8;
}
.modal-content.modal-menor {
  min-width: 400px; 
}
