.header {
    background-color: #005BA6;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
  }
  
  .header-title {
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
  }
  
  .header-icons {
    display: flex;
    gap: 18px;
  }
  
  .header-icons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    font-size: 30px;
    color: black;
    transition: transform 0.2s ease;
  }
  
  .header-icons button:hover {
    transform: scale(1.2);
    color: white;
  }
  