.login-container {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

/* Lado esquerdo */
.login-left {
  flex: 1;
  background-color: #254aa5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  height: 85%;
  justify-content: space-between;
}

.login-header {
  margin-top: 5rem;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.4rem;
}

.sesi-logo {
  width: 100px;
  margin-bottom: 1rem;
  border-bottom: 4px solid #5cc133;
  padding: 10px;
}

.senai-logo {
  width: 130px;
  margin-bottom: 1rem;
  border-bottom: 4px solid #5cc133;
  padding: 10px;
}

.contatos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.contatos a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: color 0.5s;
}

.contatos a:hover {
  color: #5cc133;
}

.copyright {
  font-size: 0.6rem;
  color: #ffffffd1;
  text-align: center;
  margin-top: 30px;
}

.login-info h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #fff;
}

.login-info p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* Lado direito */
.login-right {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-form h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.login-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #254aa5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background-color: #5277d6;
}

/* ✅ Mensagem de erro */
.erro-login {
  height: 20px;
  margin-top: 15px;
  color: red;
  font-size: 0.9rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.erro-login.visivel {
  visibility: visible;
  opacity: 1;
}
